@import "../../../styles/global.scss";

.header {
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 7%), 0 1px 10px 0 rgb(0 0 0 / 0%);
  span {
    font-size: 20px;
    margin-left: 10px;
  }
}
.content {
  padding: 20px 20px;
  background-color: #f8f8f8;
}
